web-scraping-html-to-markdown-workflow.json
{
  "name": "Scrape_HTML_to_Markdown",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -48
      ],
      "id": "ec8db73c-c0c4-4300-9f7a-8d64bc77d89a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://python.langchain.com/docs/introduction/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -48
      ],
      "id": "43a02b03-973c-422c-bd19-ef3f4243355b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        384,
        -48
      ],
      "id": "7087267f-b241-402b-8d13-3fbef3d80c01",
      "name": "Markdown"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8635d14b-755b-4f2a-ae17-d95ba03dba4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e113e4f21386a2a5b0a8d8eea04d84c57b0ed8a79157a9f4caee8bef1387ddb7"
  },
  "id": "AcpT8QJG96TwKjH5",
  "tags": []
}