agents/advanced-telegram-ai-assistant-multi-agent-system.json
{
  "name": "telegram3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1232,
        16
      ],
      "id": "ff67a8e2-94aa-4b6a-b343-6585e8d24191",
      "name": "Telegram Trigger",
      "webhookId": "5f3fe51b-27a9-41ba-927e-f00ea5ae79c2",
      "credentials": {
        "telegramApi": {
          "id": "OKWW70SCje4BgVLP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d4b916c-d38a-455f-a10a-0c8e440bfe67",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1072,
        16
      ],
      "id": "2faaecfa-6fab-4e04-b8f9-6b75c5a983ce",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4145e69-b00c-43dc-bf65-7647a862fbe4",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        0
      ],
      "id": "9dfc8ffc-a62b-4cee-973f-832fb86ace49",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Role  \nYou are an assistant with access to multiple tools.  \n\n# Behavior  \nYou respond concisely and succinctly in a friendly and approachable style.\n\n# Date and Time: {{ $now }}\n\n# Tools  \nYou have access to multiple tools and always use the appropriate one depending on the task.  \n\n## Gmail_Tool \nUse this tool to every time you need to do something with emails. If you send mails you sign every email with \"Arnie\" and never use empty placeholders for names.  \nEnsure that emails are well-formatted with a proper body.  \n\n## Calendar_Tool  \nUse this tool every time you need to do something with the calendar.\n\n## search_agent\nuse this tool to search the web, hackernews and wikipedia\n\n## x_posts\nUse this tool to post on x"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -576,
        96
      ],
      "id": "a6496a95-e917-41bf-a9e5-952c4c055d4e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        208
      ],
      "id": "cce17bab-19c8-4c9c-901c-6785a4705f32",
      "name": "Telegram",
      "webhookId": "52f4d0ed-5036-4014-bdcd-8ff723ddfb33",
      "credentials": {
        "telegramApi": {
          "id": "OKWW70SCje4BgVLP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -736,
        208
      ],
      "id": "42ef6f1e-0da6-4e37-9bcb-0581d3d273bf",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1EGGXUcezHN6lKVu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -512,
        416
      ],
      "id": "f0eed414-ead8-450d-a901-b77244e9ca00",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        -96
      ],
      "id": "ff15ef81-3756-42ce-8652-468dba09dc83",
      "name": "Telegram1",
      "webhookId": "19dc4578-bd30-4424-ba2e-23e9d33a6db7",
      "credentials": {
        "telegramApi": {
          "id": "OKWW70SCje4BgVLP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "name": "search_agent",
        "description": "use this tool to search the web, hackernews and wikipedia",
        "workflowId": {
          "__rl": true,
          "value": "wGzfejLZOL2pJrhK",
          "mode": "list",
          "cachedResultName": "Telgram1 Sub Workflow Search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -208,
        416
      ],
      "id": "a547cd31-c5e1-485d-811a-6f5813149c42",
      "name": "search_agent"
    },
    {
      "parameters": {
        "name": "Calendar_Tool",
        "description": "use this tool everytime you need to do something in the calender",
        "workflowId": {
          "__rl": true,
          "value": "52lAjL1evSpdHmzO",
          "mode": "list",
          "cachedResultName": "Sub Calender Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -336,
        416
      ],
      "id": "98bf69a2-81b6-4325-ac7e-59a2eb98e242",
      "name": "Calendar_Tool"
    },
    {
      "parameters": {
        "name": "Gmail_Tool",
        "description": "Use this tool everytime you need to do something with mails",
        "workflowId": {
          "__rl": true,
          "value": "S6lTQ0uQgIayczlt",
          "mode": "list",
          "cachedResultName": "Sub Workflow Mails"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -96,
        416
      ],
      "id": "5c4d3d5e-c5fc-4776-ba8c-29ed74b649cc",
      "name": "Gmail_Tool"
    },
    {
      "parameters": {
        "name": "x_posts",
        "description": "Use this tool to post on x",
        "workflowId": {
          "__rl": true,
          "value": "HwFMgrHUuqK38GRn",
          "mode": "list",
          "cachedResultName": "Sub Workflow X Posts (Twitter)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        32,
        416
      ],
      "id": "dcfec672-e4e8-4888-86c5-4094f70723e5",
      "name": "x_posts"
    },
    {
      "parameters": {
        "name": "contact_agent",
        "description": "use this tool to get contacts and safe new contacts",
        "workflowId": {
          "__rl": true,
          "value": "Rvci894mLPcSlPu3",
          "mode": "list",
          "cachedResultName": "Subworkflow Contact Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        160,
        416
      ],
      "id": "7d4dfdc1-5439-43f9-88bb-42ec97eeae1d",
      "name": "contact_agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Sally, a funny guy that makes sarcastic comments and funny anekdotes about topics.\nYou try to roast the topics and insult a bit.\nYou answer really short, just 1 punnchy lines.\n\ntopics: {{ $json.output }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -272,
        96
      ],
      "id": "5cdc68b7-fafb-48ab-bab6-ed956694400e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        -80
      ],
      "id": "ba32839a-555a-421d-b859-17f403525587",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1EGGXUcezHN6lKVu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "model": "tts-1-hd",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        32,
        96
      ],
      "id": "cd3db707-782a-48a0-8b1f-d6b521ee618d",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "1EGGXUcezHN6lKVu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        96
      ],
      "id": "6957a0a4-9789-468e-a537-0036d91ada03",
      "name": "Telegram2",
      "webhookId": "a34f46cb-6fd6-4b81-94df-2cc341f3636f",
      "credentials": {
        "telegramApi": {
          "id": "OKWW70SCje4BgVLP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        416
      ],
      "id": "dadea1a5-3b99-46e6-8a4f-109e6e4a552f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1EGGXUcezHN6lKVu",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "x_posts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contact_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "672fe06c-2d75-4d1c-b970-8e9ee1aa9f96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e113e4f21386a2a5b0a8d8eea04d84c57b0ed8a79157a9f4caee8bef1387ddb7"
  },
  "id": "FimvL3HMM80tLORe",
  "tags": []
}
